<h1 class="text-center mt-4">Edit Article</h1>
<%= render 'form' %>
<div class="mb-3">
    <%= link_to 'Cancel and return to articles listing', articles_path, class:"text-center d-block text-dark link-opacity-75 link-opacity-100-hover"%>
</div>
