<h1 class="text-center mt-4">Create new Article</h1>

<%= render 'form' %>
<div class="mb-3">
    <%= link_to 'Return to article listing', articles_path, class:"text-center d-block text-dark link-opacity-100-hover"%>
</div>